<?php

$db['database']['default'] = array(
	'dsn'	=> 'pgsql:host=localhost;port=5432;dbname={{ mantisbt_database_name }}',
	'username' => '{{ mantisbt_database_user }}',
	'password' => '{{ mantisbt_database_password }}'
);

