[Unit]
Description=SonarQube Service
After=network.target

[Service]
User=sonarqube
ExecStart={{ app_dir }}/openjdk21/bin/java -jar {{ app_dir }}/sonarqube/lib/sonar-application-5.1.2.jar
Environment=JAVA_HOME={{ app_dir }}/openjdk21
Restart=always
LimitNOFILE=65536
LimitNPROC=4096

[Install]
WantedBy=multi-user.target
