sonar.jdbc.username={{ sonarqube_db_user }}
sonar.jdbc.password={{ sonarqube_db_password }}
sonar.jdbc.url=jdbc:postgresql://localhost/{{ sonarqube_db_name }}
sonar.path.data={{ app_dir }}/sonarqube/data
sonar.path.temp={{ app_dir }}/sonarqube/temp
sonar.path.logs={{ app_dir }}/sonarqube/logs
sonar.path.plugins={{ app_dir }}/sonarqube/extensions/plugins
